* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    
    font-style: sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    

}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
}

.main {
    text-align: center;
    background: cornsilk;
    opacity: 1.0;
}
.main .l1 {
    display: inline-flex;
    list-style-type: none;
    color: grey;
}
#gandhi {
    float: right;
    height: 50%;
    width: 50%;
    padding-left: 10px;
    padding-top: 10px;

}
#dada {
    float: left;
    height: 20%;
    width: 20%;
    padding-left: 10px;
    padding-top: 10px;
    padding-right:10px;
}
.gsp {
    float: right;
    height: 20%;
    width:20%;
    padding-left: 10px;
    padding-top: 10px;
}
.main ul li {
    width: 150px;
    margin: 5px 30px 5px;
    padding: 10px;
}
.main ul li a {
    text-decoration: none;
    color: darkkhaki;
}
.active, .main ul li:hover {
    background-color: dimgrey;
    border-radius: 3px;
}

.logo {
    font-size: 35px;
    color: darkkhaki;
    font-style: oblique ;
    position: relative;
    margin: auto;
    text-align: left;  
}
.subm {
    display: none;
}
.main ul li:hover .subm{
    display: inline-block;
    position: absolute;
    background: cornsilk;
    margin-top: 15px;
    margin-bottom: 15px;

}
.main ul li:hover .subm ul{
    display: block;
    margin: 10px;
}
.tab {
    padding-right: 30px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 0px;
}
.footer p {
    text-align: right;
    color: rgb(48, 39, 39);
    opacity: 1.2;
    float:right;
}
